{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h1>Your treatment</h1> <!-- Heading -->
    <button id="retrieve-btn">Get treatment</button>
    <div id="treatment-response"></div>
    <script>
        document.getElementById('retrieve-btn').addEventListener('click', async () => {

            try {
                const response = await fetch('/generate_treatment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                });

                const data = await response.json();

                const responseDiv = document.getElementById('treatment-response');
                if (response.ok) {
                    // responseDiv.textContent = data.response;
                    console.log(data)
                    console.log("splitter")
                    console.log(data.response)
                } else {
                    responseDiv.textContent = `Error: ${data.error}`;
                }
            } catch (error) {
                console.error('Error:', error);
                document.getElementById('treatment-response').textContent = 'An error occurred while retrieving the treatment.';
            }
        });
    </script>
</div>
{% endblock %}